* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
}

form .display {
    margin: 20px 0;
}

form .display input {
    width: 100%;
    text-align: right;
    font-size: 2.5rem;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset -3px -3px 8px rgba(255,255,255,0.1),
                inset 3px 3px 8px rgba(0,0,0,0.2);
    overflow-x: auto;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.buttons input {
    border: 0;
    outline: 0;
    height: 70px;
    border-radius: 10px;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.1),
                5px 5px 10px rgba(0,0,0,0.3);
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.buttons input:hover {
    transform: scale(1.05);
    box-shadow: -6px -6px 12px rgba(255,255,255,0.1),
                6px 6px 12px rgba(0,0,0,0.4);
}


.buttons input.equal {
    grid-column: span 2;
   
    color: #000;
    font-weight: bold;
}

#operator {
    color: #33ffd8;
}


@media (max-width: 480px) {
    .calculator {
        max-width: 91%;
        height: auto;
        padding: 15px;
    }

    .buttons input {
        height: 55px;
        font-size: 1.2rem;
    }

    form .display input {
        font-size: 2rem;
    }
}


@media (min-width: 600px) and (max-width: 1024px) {
    .calculator {
        max-width: 600px;
    }

    .buttons input {
        height: 80px;
        font-size: 1.8rem;
    }

    form .display input {
        font-size: 3rem;
    }
}
